// colors 

$pink: hsl(322, 100%, 66%);
$paleCyan: hsl(193, 100%, 96%);
$greyishBlue: hsl(208, 11%, 55%);
$darkCyan: hsl(192, 100%, 9%); 

// font-weights 
$font-weights: (
    "regular": 400,
    "medium": 600,
    "bold": 700
);

