.about-us {
    padding-top: 70px;
    margin-bottom: 260px;

    &__section {
        width: 90%;
        margin: 0 auto;
        height: 600px;
        border-radius: 20px;
        box-shadow: 2px -1px 17px $greyishBlue;

        @include flexColumn;
    }

    &__section:not(:last-child) {
        margin-bottom: 40px;
    }

    &__images {
        width: 60%;
        margin: 0 auto;
        max-width: 300px;   

        > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-family: $poppins;
        margin: 70px 0 20px;
    }

    &__paragraph {
        width: 80%;
        margin: 0 auto;
        font-size: 1rem;
        opacity: 0.5;
    }
}

@include breaks(mobile) {
    .about-us {
        padding-top: 140px;

        &__section {
            height: 420px;
        }

        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

        }

        &__title {
            margin-top: 0;
            margin-bottom: 5px;
        }

        &__paragraph {
            font-size: 1rem;
            max-width: 70%;
        }

        &__text {
            max-width: 750px;
        }

    }

    .pad{
        padding: 0 15px 0 40px;
    }

    .gap {
        gap: 130px
    }

    .img-1 {
        width: 100%;
    }

    .order-2{
        h1 {
            text-align: left;
        }
    
        p {
            text-align: left;
            margin: 0;
        }
    }

    .order {
        order: -1;
        
         h1 {
            text-align: left;
        }

        p {
            text-align: left;
            margin: 0;
        }
    }
}



