.hero-section {
   height: 600px;
   background-color: $paleCyan;
    
    

    &__des {
        width: 80%;
        margin: 0 auto;
        background-color: $paleCyan;
    }

    &__mockups {
        
        > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // &__image {
    //     width: 100%;

    //     > img {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: contain;
    //     }
    // }

}

