.hero-section {
   height: 1000px;
   background-color: $paleCyan;
   z-index: -1;
   position: relative;

    &__container {
        width: 80%;
        margin: 0 auto;
        // max-width: 550px;
        // min-width: 245px;
    }


    &__title {
        font-size: 1.9rem;
        line-height: 1.55;
        font-weight: $fw-700;
        font-family: $poppins;
        margin: 60px 0 30px;
        max-width: 490px;
    }

    &__description {
        font-size: 1.2rem;
        opacity: 0.9;
        margin-bottom: 50px;
    }

    &__des {

        > a {
            width: 80%;
            max-width: 360px;
        }
    }

    &__btn {
        width: 100%;
        min-width: 136.5px;
        max-width: 360px;
        border-radius: 80px;
        border: none;
        padding: 17px;
        color: $white;
        background-color: $pink;
        font-size: 0.9rem;
        margin-bottom: 67px;
    }

    &__mockups {
       max-width: 650px;
       margin: 0 auto;
        
        > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__image {
        position: absolute;
        z-index: -1;
        top: 0;

        > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

}

@include breaks(laptop) {
    .hero-section {
        height: 650px;
        justify-content: center;
        align-items: center;

        &__container {
            flex-direction: row;
            width: 90%;
            gap: 60px;
        }

        &__des {
            width: 40%;
            align-items: flex-start;

            > h1, p {
                text-align: left;
            }
        }

        &__title {
            width: 400px;
            font-size: 2.2rem;
        }

        &__mockups {
            width: 50%;
            min-width: 600px;
            // height: 700px;
        }
    }
}
