@mixin laptops {
    @media (min-width: 376px) and (max-width: 1440px) {
        
    }
};

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flexRow {
    flex-direction: row;
    align-items: flex-start;
}

.details {
    @include flexRow();
}