// colors 

$pink: hsl(322, 100%, 66%);
$paleCyan: hsl(193, 100%, 96%);
$greyishBlue: hsl(208, 11%, 55%);
$darkCyan: hsl(192, 100%, 9%); 
$white: hsl(0, 0%, 100%);

// font-weights 
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
