@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

a, a:hover, a:active {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  color: hsl(192, 100%, 9%);
  line-height: 1.6;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-ai-c {
  align-items: center;
}
.flex-fd-c {
  flex-direction: column;
}
.flex-jc-c {
  justify-content: center;
}

.tx-a {
  text-align: center;
}

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu-1 {
  margin-bottom: 20px;
}

.header {
  padding: 31px 19px;
  background-color: hsl(193, 100%, 96%);
}
.header__logo {
  height: 20px;
}
.header__logo > img {
  width: 126px;
}
.header__btn button {
  height: 31px;
  width: 118px;
  border-radius: 15px;
  border: none;
  background-color: hsl(0, 0%, 100%);
  font-weight: 600;
  box-shadow: 0px 0px 3px 1px hsl(208, 11%, 55%);
}

@media (min-width: 50.0635em) {
  .header {
    padding: 60px 50px 0;
  }
  .header__logo {
    height: 25px;
    width: 135px;
  }
  .header__logo > img {
    width: 100%;
    height: 100%;
  }
  .header__btn {
    height: 41px;
    width: 125px;
  }
  .header__btn > button {
    height: 100%;
    border-radius: 20px;
  }
}
.hero-section {
  height: 1000px;
  background-color: hsl(193, 100%, 96%);
  z-index: -1;
  position: relative;
}
.hero-section__container {
  width: 80%;
  margin: 0 auto;
}
.hero-section__title {
  font-size: 1.9rem;
  line-height: 1.55;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 60px 0 30px;
  max-width: 490px;
}
.hero-section__description {
  font-size: 1.2rem;
  opacity: 0.9;
  margin-bottom: 50px;
}
.hero-section__des > a {
  width: 80%;
  max-width: 360px;
}
.hero-section__btn {
  width: 100%;
  min-width: 136.5px;
  max-width: 360px;
  border-radius: 80px;
  border: none;
  padding: 17px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(322, 100%, 66%);
  font-size: 0.9rem;
  margin-bottom: 67px;
}
.hero-section__mockups {
  max-width: 650px;
  margin: 0 auto;
}
.hero-section__mockups > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero-section__image {
  position: absolute;
  z-index: -1;
  top: 0;
}
.hero-section__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 64em) {
  .hero-section {
    height: 650px;
    justify-content: center;
    align-items: center;
  }
  .hero-section__container {
    flex-direction: row;
    width: 90%;
    gap: 60px;
  }
  .hero-section__des {
    width: 40%;
    align-items: flex-start;
  }
  .hero-section__des > h1, .hero-section__des p {
    text-align: left;
  }
  .hero-section__title {
    width: 400px;
    font-size: 2.2rem;
  }
  .hero-section__mockups {
    width: 50%;
    min-width: 600px;
  }
}
.about-us {
  padding-top: 70px;
  margin-bottom: 260px;
}
.about-us__section {
  width: 90%;
  margin: 0 auto;
  height: 600px;
  border-radius: 20px;
  box-shadow: 2px -1px 17px hsl(208, 11%, 55%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us__section:not(:last-child) {
  margin-bottom: 40px;
}
.about-us__images {
  width: 60%;
  margin: 0 auto;
  max-width: 300px;
}
.about-us__images > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us__title {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin: 70px 0 20px;
}
.about-us__paragraph {
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  opacity: 0.5;
}

@media (min-width: 50.0635em) {
  .about-us {
    padding-top: 140px;
  }
  .about-us__section {
    height: 420px;
  }
  .about-us__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .about-us__title {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .about-us__paragraph {
    font-size: 1rem;
    max-width: 70%;
  }
  .about-us__text {
    max-width: 750px;
  }
  .pad {
    padding: 0 15px 0 40px;
  }
  .gap {
    gap: 130px;
  }
  .img-1 {
    width: 100%;
  }
  .order-2 h1 {
    text-align: left;
  }
  .order-2 p {
    text-align: left;
    margin: 0;
  }
  .order {
    order: -1;
  }
  .order h1 {
    text-align: left;
  }
  .order p {
    text-align: left;
    margin: 0;
  }
}
.footer {
  background-color: hsl(192, 100%, 9%);
  padding: 120px 20px 60px 20px;
  height: 1000px;
}
.footer p, .footer h1 {
  color: hsl(0, 0%, 100%);
}
.footer__info p {
  opacity: 0.8;
}
.footer__info :not(:last-child) {
  margin-bottom: 20px;
}
.footer__logo .logo {
  width: 40px;
  height: 35px;
  margin-bottom: 0;
}
.footer__logo .logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__header {
  font-size: 2.7rem;
}
.footer__location, .footer__gmail, .footer__telephone {
  gap: 20px;
}
.footer__menu li > a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
.footer__menu :not(:last-child) {
  margin-bottom: 20px;
}
.footer__social-icons {
  min-width: 50px;
  height: 50px;
}
.footer__social-icons > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__icons {
  min-width: 30px;
  height: 30px;
}
.footer__social-links :not(:last-child) {
  margin-bottom: 20px;
}/*# sourceMappingURL=style.css.map */